<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback publication rules</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--    <div th:replace="includes :: includes"></div>-->
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/css/startmin.css" th:href="@{/css/startmin.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid center-block row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">

        <div class="row" style="margin-top: 30px">
            <div class="col-sm text-center">
                <button type="button" class="btn btn-secondary" style="margin: 0 30px">About product</button>
                <button type="button" class="btn btn-secondary" style="margin: 0 30px">Specification</button>
                <button type="button" class="btn btn-secondary" style="margin: 0 30px">Feedbacks</button>
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="col-sm-offset-1 col-sm-10">
                <a href="/hello"><button type="button" class="btn btn-link" style="padding-left: 0">Back to feedback page</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <hr/>
                <ol>
                    <li>Оставляя отзывы на продукт, Клиент соглашается с Правилами публикации отзывов (далее - Правила), изложенными ниже.</li>
                    <li>Оставлять отзывы могут только авторизованные пользователи</li>
                    <li>Можно оставить только один отзыв на один продукт</li>
                    <li>Отзывы публикуются только после их просмотра модератором. По возможности сохраняется авторская орфография и пунктуация. Исправлению подлежат только опечатки.</li>
                    <li>Отклоняются модератором и не подлежат публикации отзывы следующего содержания:
                        <ol>
                            <li>содержащие нецензурную лексику;</li>
                            <li>содержащие только эмоциональные высказывания (например, "Класс!", "Нет слов!" и различные вариации на эту тему;</li>
                            <li>не содержащие указания на причины, по которым Вам понравился или не понравился данный продукт;</li>
                            <li>имеющие целью вступить в дискуссию либо оскорбить других пользователей;</li>
                            <li>содержащие большое количество лексических, орфографических и других ошибок;</li>
                            <li>набранные латинскими буквами;</li>
                            <li>содержащие материалы рекламного характера (в том числе номера телефонов, адреса, ссылки на другие сайты, изображения и видеоматериалы об иных товарах, продавцах, производителях и т.п.);</li>
                            <li>любой другой посторонний текст, изображения, видеоматериалы, не связанные с комментируемым товаром;</li>
                            <li>отзывы на различные товары, выполненные по одинаковым текстовым шаблонам;</li>
                            <li>содержащие материалы с других сайтов или из средств массовой информации;</li>
                            <li>содержащие информацию (в том числе о способах использования продукта), которая может повлечь причинение вреда здоровью и развитию третьих лиц.</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </div>
</div>
</body>
</html>